body {
    background-image: url("background-img.jpg");
    font-family: 'Titillium Web', sans-serif;
}

.intro {
    align-items: center;
}

h1 {
text-align: center;
    color: beige;
    font-weight: 700;
    font-size: 80px;

}

h3 {
    color: beige;
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
    font-style: italic;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1.4px solid black;
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

form input {
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: large;
}